<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>question</key>
		<string>Warum?</string>
		<key>answer</key>
		<string>Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil.</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Warum doch gleich?</string>
		<key>answer</key>
		<string>Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. Weil. </string>
	</dict>
</array>
</plist>
