<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPId</key>
	<string>12345678</string>
	<key>ITMSURL</key>
	<string>http://itunes.apple.com/de/app/id12345678?mt=8</string>
	<key>WebURL</key>
	<string>http://getniceapp.com</string>
	<key>darkMode</key>
	<false/>
	<key>modules</key>
	<array>
		<dict>
			<key>name</key>
			<string>contact</string>
			<key>submodule</key>
			<string>StoreViewController</string>
			<key>email</key>
			<string>info@omich.de</string>
			<key>services</key>
			<string>store,email,twitter,facebook</string>
			<key>faq</key>
			<dict>
				<key>file</key>
				<string>FeedbackFAQ.plist</string>
				<key>URL</key>
				<string>http://getniceapp.com/faq.plist</string>
				<key>updateLimit</key>
				<integer>7</integer>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>apps</string>
			<key>URL</key>
			<string>http://getallniceapps.com</string>
			<key>appFile</key>
			<string>apps.plist</string>
		</dict>
		<dict>
			<key>name</key>
			<string>about</string>
			<key>file</key>
			<string>FeedbackAbout.html</string>
		</dict>
		<dict>
			<key>name</key>
			<string>modules</string>
			<key>files</key>
			<array>
				<string>Package1.rtf</string>
				<string>Package2.html</string>
				<string>Package3.pdf</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
